<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>GeoDa.app</title>
<style>
</style>
<script src="{{url_prefix}}/media/js/jquery.min.js"></script>
<script src="{{url_prefix}}/media/js/d3.v3.min.js"></script>
<script src="{{url_prefix}}/media/js/geoviz.js"></script>
<script>
$(document).ready(function() {
  //$('#mapCanvas').width(winW).height(winH);
  //localStorage.clear();
  $(window).bind('storage', function(e) {
    var select_id = localStorage.getItem('highlight').split(",");
    for ( var i=0; i<select_id.length; i++ ) select_id[i] = parseInt(select_id[i]);
    console.log(select_id);
    if ( map ) {
      map.highlight(select_id);
    }
  });

  var map; 
  d3.json("{{url_prefix}}{{json_url}}",function(error,json){
    console.log(error);
    map = new GeoVizMap(json, document.getElementById('mapCanvas'));
  });
});
</script>
<body>
<canvas id="mapCanvas" width="100%" height="100%"></canvas>
</body>
</html>
