html, body {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

#logo {
  margin-top: 10px; 
  margin-left: 20px;
}
#account {
  padding-top: 2px; 
}

.toolbar_tbl {
  margin-top: 4px; 
  width: 98%;
}
a {
  text-decoration: none;
}
.toolbar_tbl a {
  color: #FFFFFF;
}
.toolbar_tbl td {
  font-size: 160%;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  color: white;
}
.toolbar_tbl td.righttd{
  text-align: right;
}
.header {
  height: 60px;
  /*border-bottom: 1px solid #FFFFFF;*/
}

