html, body {
  width: 100%;
  height: 100%;
}


header {
  background-color: #4096ee;
}
header:before,
header:after {
  content: " ";
  display: table;
}

header:after {
  clear: both;
}
nav {
transition: .6s ease-in-out;
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#000;
  background-size:16px 16px;
  overflow-x: scroll;
  max-height: 0;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 31.25em) {
  nav {
    max-height: none;
    background: none;
    box-shadow: none;
    overflow: hidden;
  }
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1em;
  text-align: justify;
  width: 30em;
}


nav ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}
@media (min-width: 31.25em) {
nav ul {
    background-color: #000;
    width: 100%;
  }
}

nav ul li {
  background-color: #161616;
  border-radius: 6px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  font-size: 150%;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  padding: 0.6em;
  text-align: center;
  width: 3.5em;
}
@media (min-width: 31.25em) {
nav ul li {
    background: none;
    box-shadow: none;
    font-size: 150%;
    padding: 0;
    width: auto;
  }
}
nav ul li:first-child {
  margin-left: 0.5em;
}
nav ul li:last-child {
  margin-right: 0.5em;
}
nav ul li a {
  color: #ccc;
  display: block;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 31.25em) {
nav ul li a {
    color: #fff;
  }
}

nav ul li a:before {
  display: block;
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 2rem;
  font-style: normal;
  text-decoration: inherit;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 48.875em) {
nav ul li a:before {
    display: inline-block;
    margin-right: 0.3em;
  }
}

/* Used nth-childs to allocate icons to keep the HTML markup clean */ 

nav ul li:first-child a:before {
  content: url('../../media/img/geoda-logo.png');
}
nav ul li:nth-child(2) a:before {
  content: url('../../media/img/geoda-logo.png');
}
nav ul li:nth-child(3) a:before {
  content: '\f0b1';
}
nav ul li:nth-child(4) a:before {
  content: '\f0e0';
}




div {
  display: block;
}
#header {
  height: 80px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
#header .container {
  width: 90%;
  height: 90px;
  margin: 0 auto;
  text-align: left;
}
#header .logo {
  width: 480px;
}
body {
  text-align: center;
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
.ui-widget {
    font-size:120%;
}




.left_al {
  text-align: left;
}
border: 1px solid #aaa;margin: 1px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.bubble {
  z-index: 10000;
  position: absolute;
  background-color: orange;
  opacity: 0.8;
  margin: 0;
  padding:10px;
  text-align:center;
  width:180px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25); 
}
#dragdrop_div {
  width: 60%;
  padding: 10px;
}
#drop_zone {
  position: relative;
  z-index: 9999;
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
  width: 370px;
}
#dropbox_div {
  width: 250px; 
  height: 80px;
  margin-top: 10px;
  padding-top: 30px;
  vertical-align: middle;
}
#progress_bar {
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}
#progress_bar.loading {
  opacity: 1.0;
}
#progress_bar .percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
}
.check_file {
  background-image: url("../img/checkmark.png");
  background-repeat:no-repeat;
  background-position:right; 
}
.uncheck_file {
  color: red;
  font-weight: bold;
}
/* header toolbar */
.awesome-bar {
  display: block;
  position: fixed;
  width: 100%;
  min-width: 600px;
  height: 48px;
  z-index: 9999;
  font-size: 150%;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  color: #EEE;
  background: rgba(0,0,0,0.9);
  -moz-box-shadow: 0 14px 18px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 14px 18px rgba(0,0,0,0.5);
  box-shadow: 0 14px 18px rgba(0,0,0,0.5);
}
.logo {
  width: 240px;
  height: 40px;
  margin: 10px 0 0 10px;
  background: url("../img/geoda-logo.png") no-repeat;
  background-size: 30px 29px;
  float: left;
  cursor: pointer;
  -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter:         drop-shadow(10px 10px 10px #222); 
  
}
.logo p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 28px;
font-weight: bold;
margin-top: -5px;
}
.header_topright {
  float: right;
  height: 100%;
  width: 220px
}
.account {
  float: left;
  width: 90px;
  margin-top: 13px;
  padding-left: 13px;
  background: url("../img/user.png") no-repeat;
}
.basemap {
  float: right;
  width: 90px;
  margin-top: 13px;
  padding-left: 13px;
  background: url("../img/basemap.png") no-repeat;
}
.info-div {
  z-index: 10000;
  position: fixed;
  background-color: #DDD;
  margin: 0;
  right: 5px;
  top: 70px;
  padding:10px;
  text-align:center;
  width:250px;
  font-size: 120%;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  color: #333;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25); 
  display: none;
}
/**/
.ui-dialog {
 z-index: 10003 !important;
}
.ui-autocomplete{
 z-index: 10004 !important;
}


.tool-menu {
  /*background-image: url("../img/menu-bg.png");*/
  position: absolute; 
  width: 100%; 
  height: 140px; 
  opacity: 0.9;
  background-color: white;
  padding-bottom: 13px;
  -webkit-box-shadow: -1px -7px 35px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px -7px 35px -1px rgba(0,0,0,0.5);
  box-shadow: -1px -7px 35px -1px rgba(0,0,0,0.5);
  z-index:10002;
  left: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.down-arrow{
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent; /*arrorw size*/
  z-index:10004;
  display: none;
}
#tool-menu-arrow{
  border-top-color: #EEE;
  position: absolute;
  bottom: 23px;
  left: 275px;
  display: none;
}
#dialog-arrow{
  border-top-color: #EEE;
  position: absolute;
  bottom: 175px;
  left: 275px;
}
.tool-menu .image-wrap {
  float: left;
  width: 92px;
  height: 82px;
  margin:38px 20px 0 30px;
  -webkit-border-radius: 60em;
  -moz-border-radius: 60em;
  border-radius: 60em;
  -moz-box-shadow: 0 14px 18px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 14px 18px rgba(0,0,0,0.5);
  box-shadow: 0 14px 18px rgba(0,0,0,0.5);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center; 
}
.tool-menu .image-wrap:hover {
  opacity: 1.0;
  cursor: pointer;
}
.tool-menu .image-wrap span{
  top: -18px; 
  position: relative;
  text-shadow: 0px 2px 0px rgba(235,235,235,.5); /* 50% white from bottom */
}
#layer-tree { 
  width: 400px; 
  cursor:pointer;
  left: 0;
  bottom: 40;

}
#add-layer { 
  margin: 5px; 
  padding: 0.4em; 
  font-size: 1.0em; 
  height: 18px; 
  border-top: 2px dashed #bbb;
  border-left: 2px dashed #bbb;
  border-right: 2px dashed #bbb;
  z-index: 10000;
}
#sortable-layers { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 98%; 
}
#sortable-layers li:first-child { 
  color: orange
}
#sortable-layers li { 
  margin: 0 3px 0px 10px; 
  padding: 0.4em; 
  padding-left: 1.5em; 
  font-size: 1.4em; 
  height: 18px; 
  text-align: left; 
  background: #eee;
}
#sortable-layers li span { 
  position: absolute; 
  margin-left: -1.3em; 
}
.tree-item-eye {
  width: 30px;
  height: 16px;
  float: right;
  right: 20px;
  margin-top: 2px;
  background: url("../img/switch-on.png") no-repeat;
}
.leaf-name {
  margin-left: 8px !important;
}
.tree-item-delete{
  width: 16px;
  height: 16px;
  float: right;
  right: 54px;
  background: url("../img/uncheckmark.gif") no-repeat;
}
#toolbar {
  width: 100%;
  height: 100%;
  margin-top: 2px;
  margin:0 auto;
}
#btnMultiLayer {
  display: none;
  overflow:auto;
}
#btnMultiLayer span {
  color: orange;
}
#multilayer_arrow {
  float: right;
  right: 0;
          width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right:10px solid rgba(0,0,0,0.5); 
}
#btnShowTable {
  margin-left: 10px;
}
.blockBtn {
  width: 100%;
  height: 100%;
  padding-top: 6px;
}

.blockBtn img {
  vertical-align:middle;
}
.blockBtn span{
  margin-left: 5px;
}
.title_link{
  color: #FFFFFF;
  text-decoration: none;
}
.toolbar_tbl {
  width: 100%;
  height: 100%;
}
.toolbar_tbl td {
  font-size: 160%;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  color: #EEE;
  vertical-align: middle;
  padding-left: 8px;
  cursor:pointer;
}
.toolbar_tbl td.righttd{
  text-align: right;
  font-size: 1.2em; 
  max-width: 100px;
  min-width: 100px;
}
#bottombar {
  z-index: 9999;
  opacity: 0.9;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 600px;
  height: 40px;
  background-color: rgba(0,0,0,0.9);
  -webkit-box-shadow: -1px -7px 35px -6px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px -7px 35px -6px rgba(0,0,0,0.5);
  box-shadow: -1px -7px 35px -6px rgba(0,0,0,0.5);
}
#bottombar a:link {
  text-decoration: none;
}
#bottombar a:visited {
  color: #EEE;
  text-decoration: none;
}
.round_div {
  border-radius:5px; 
  border: 1px #bbb solid; 
  padding: 25px;
  width: 50%;
}
.popup-frame {
  width: 350px; 
  height: 250px; 
  padding: 0.5em; 
  z-index: 10001;
  border: 1px #999 solid;
  background-color:#FFF;
  opacity: 0.5;
  cursor: pointer;
}
.popup-frame:hover{
  opacity: 0.9;
}
.popup-close {
  float: left;
  background: url("../img/close_pop.png") no-repeat;
  width: 16px; /*or your image's width*/
  height: 16px; /*or your image's height*/
  margin: 0;
  padding: 0;
}

#map-container {
  position: relative; 
  border: 0px solid red;
  width: 100%;
  background: url("../img/bg0.jpg") no-repeat center center fixed;
  background-size: cover;
  height: -moz-calc(100% - 88px); /* Firefox */
  height: -webkit-calc(100% - 88px); /* Chrome, Safari */
  height: calc(100% - 88px); /* IE9+ and future browsers */
}
#map {
  align:center; 
  margin-top:0px;
  width: 100%;
  height:100%;
}
.paint-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.hl-canvas {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: -moz-calc(100% - 88px); /* Firefox */
  height: -webkit-calc(100% - 88px); /* Chrome, Safari */
  height: calc(100% - 88px); /* IE9+ and future browsers */
}
.asu-geoda {
  position: absolute; 
  right: 0; 
  bottom: 60px;
  opacity: 0.5;
}
#btnOpenData {
  position: absolute; 
  right: 10px; 
  bottom: 60px;
  opacity: 0.2;
  width: 100px;
  height: 100px;
}
#btnOpenData img {
  width: 100%;
  height: 100%;
}
#btnOpenData:hover{
  opacity: 1.0;
  width: 100px;
  height: 100px;
}

.novis {
  visibility :hidden;
  margin-left: 10px;
  margin-right: 10px;
}
.novis:hover{
  visibility: visible;
}
.switch-wrapper {
  margin-top: 5px;
}
#foreground {
  position: absolute; 
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  display: none;
}
/* jquery ui dialog*/
.plain-dialog {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/*Weights Creation*/
.ui-widget-overlay { 
  background: #aaa repeat-x; 
  opacity: .8;
}
table { 
  border-spacing: 0;
}
th { 
  text-align: left; 
  padding: 10px 0 10px 0; 
}
td { 
  text-align: left;
  height: 20px;
}
.custom-combobox { 
  position: relative; 
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* support: IE7 */
  *height: 1.7em;
  *top: 0.1em;
}
.custom-combobox-input {
  margin: 0;
  padding: 0.3em;
}
.dlg-loading {
  background: white url('../img/loading_small.gif') center center no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
/*spatial regression*/
.ui-widget-overlay { 
  background: #eee repeat-x; 
  opacity: .8;
}
h1 { 
  padding: .2em; 
  margin: 0; 
  font-size: 13px;
}
ol li:hover {
  background-color: #eee;
}
.list { 
  margin:0; 
  padding:0px 0 0; 
}
.list li {
  display:block; 
  background-color: #ddd; 
  padding:1px; 
  box-shadow: inset 0 1px 0 #fff; 
  height: 20px;  
  cursor: pointer; 
  cursor: hand; 
  vertical-align: bottom;
}
.list li p { 
  margin: 0px; 
  padding: 4px 0px 0px 10px; 
  vertical-align: bottom; 
}
.list li:nth-child(odd) {
  background: #fff;
}
.list li:hover { 
  background-color: orange; 
}
.dialogWithDropShadow{
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);  
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}
#weights { 
  width: 600px; 
  height: 90px; 
  margin-right: 2em; 
  display:block;
}
#weights select {
  width: 90%;
}
#w_catalog_model {
  width: 90%; 
}
#model_spec { 
  width: 600px; 
  margin-right: 2em; 
  height:370px; 
  display:block;
}
#y_catalog {
  width: 48%; 
  float: left;
  height: 280px;
}
#x_catalog {
  width: 50%; 
  float: right;
  height: 200px;
}
#x_catalog.x_box {
  height: 200px;
}
#var_list { 
  width: 200px; 
}
/* style the list to maximize the droppable hitarea */
.drop_box ol { 
  list-style-type: circle; 
  height: 130px; 
  margin: 0; 
  padding: 1em 0 1em 2em; 
}
#x_box ol {
  height: 215px;
}
#model-weights-plugin-container, #kernel-weights-plugin {
  height: 180px;
}
#estimation { 
  width: 600px; 
  margin-right: 2em; 
  height:170px; 
  display:block;
}
.est_tab { 
  border: 1px #bbb solid; 
  border-radius:5px; 
  width: 30%; 
  height: 120px; 
  float: left; 
  margin: 15px 1px 0 0; 
  padding-left: 5px;
}
.est_tab p { 
  margin: 5px 0 5px 5px; 
  background-color: ; 
  width: 100px; 
  text-align:left; 
  font-weight: bold;
}
.est_tab input { 
  margin-bottom: 8px;
}
.mainDlg, .tool-menu{
  display: none;
}
#w-dist-loading, #divPop, #img-id-chk, #img-id-spin, #img-id-nochk, #progress_bar_openfile,#progress_bar_cartodb,#progress_bar_road, #progress_bar_spacetime, #btnMultiLayer, #progress_bar_lisa, #tool-menu-arrow, #dialog-arrow, #prgInfo, #legend{
  display: none;
}
