<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>PySAL Web Beta</title>
<link rel="stylesheet" href="{{url_prefix}}/media/css/portal.css" />
<link rel="stylesheet" href="{{url_prefix}}/media/css/leaflet.css" />
<link rel="stylesheet" href="{{url_prefix}}/media/css/jquery.switchButton.css" />
<link rel="stylesheet" href="{{url_prefix}}/media/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
<link rel="stylesheet" href="{{url_prefix}}/media/css/cartodb.css" />

<script type="text/javascript" src="{{url_prefix}}/media/js/dropins.js" id="dropboxjs" data-app-key="50dk6qp6nc2fcxs"></script>
<script src="{{url_prefix}}/media/js/cartodb.js"></script>
<script src="{{url_prefix}}/media/js/jquery.min.js"></script>
<script src="{{url_prefix}}/media/js/d3.v3.min.js"></script>
<script src="{{url_prefix}}/media/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="{{url_prefix}}/media/js/list.min.js"></script>
<script src="{{url_prefix}}/media/js/d3viz.js"></script>
<script src="{{url_prefix}}/media/js/proj4-src.js"></script>
<script src="{{url_prefix}}/media/js/jquery.switchButton.js"></script>
<script src="{{url_prefix}}/media/js/zip/zip.js"></script>

<script src="{{url_prefix}}/media/js/jmap.js"></script>
<script src="{{url_prefix}}/media/js/utils.js"></script>
<script src="{{url_prefix}}/media/js/shapefile.js"></script>
<script src="{{url_prefix}}/media/js/portal.js"></script>
<script>
    var csrftoken = '{{ csrf_token }}';
    var url_prefix = '{{url_prefix}}';
</script>
</head>

<body>
<div class="awesome-bar" style="background:#038D98;">
  <div id="toolbar">
      <div style="clear: left;"></div>
      <table class="toolbar_tbl" align="left" >
        <tr>
        <td width=180"><img src="{{url_prefix}}/media/img/pysalweb-logo.png"></td>
        <td><div class="block_button" id="btnOpenData"></div></td>
        <td><div class="block_button" id="btnAddLayer"></div></td> 
        <td><div class="block_button" id="btnCartoDB"></div></td> 
        <td><div class="block_button" id="btnRoadNetwork"></div></td> 
        <td><div class="block_button" id="btnSpaceTime"></div></td> 
        <td><div class="block_button" id="btnKDE"></div></td> 
        <td><div class="block_button" id="btnCreateW"></div></td>
        <td><div class="block_button" id="btnSpreg"></div></td>
        <td><div class="block_button" id="btnSave"></div></td> 
        <td><div class="block_button" id="btnShowTable"></div></td> 
        <td><div class="block_button" id="btnWHistogram"></div></td> 
        <td><div class="block_button" id="btnNewMap"></div></td> 
        <td><div class="block_button" id="btnScatterPlot"></div></td> 
        <td><div class="block_button" id="btnHist"></div></td> 
        <td><div class="block_button" id="btnPCP"></div></td> 
        <td><div class="block_button" id="btnMoran"></div></td> 
        <td><div class="block_button" id="btnLISA"></div></td> 
        <td><img src="https://geodacenter.asu.edu/drupal_files/geoda_logo.png" style="margin-left:30px;opacity:0.6;" height=22></td>
        </tr>
      </table>
  </div>
</div>
<!--
///////////////////////////////////////////////////////////////////////////////
// Main Body
///////////////////////////////////////////////////////////////////////////////
-->
<div style="padding-top:48px">
</div>
<div id="map-container">
  <div id="map"></div>
  <canvas id="foreground" style="position: absolute; top: 0; left: 0;width: 100%; height: 100%;"></canvas>
</div>
<div id="map-uuid" style="width:300px;align:center;"></div>
</center>


<!--
///////////////////////////////////////////////////////////////////////////////
// Open Files
///////////////////////////////////////////////////////////////////////////////
-->
<div id="dialog-pre-open-file"  title="Let's get started">
  <div style='text-align:center;'> 
    <br/><br/>
    <table width=100%>
      <tr>
        <td style="text-align:center;">
          <img src="{{url_prefix}}/media/img/add-file.png">
        </td>
        <td style="text-align:center;">
          <img src="{{url_prefix}}/media/img/addlayer_large.png">
        </td>
      </tr>
      <tr>
        <td style="text-align:center;">Open a base map</td>
        <td style="text-align:center;">Add a new map laye</td>
      </tr>
    </table>
  </div>
</div>
<div id="dialog-open-file"  title="Let's get started">
  <span> <br/><br/>
    <table>
      <tr><td>
      <img id="img-open-dlg" src="{{url_prefix}}/media/img/add-file.png">
      </td>
      <td>
    You can load ESRI Shapefile files from local disk, your Dropbox or public open data.
      </td></tr>
    </table><br/><br/><br/></span>
  <div id="tabs-dlg-open-file">
    <ul>
      <li><a href="#tabs-1">Local Disk</a></li>
      <li><a href="#tabs-2">CartoDB</a></li>
      <li><a href="#tabs-3">Socrata</a></li>
      <li><a href="#tabs-4">Dropbox</a></li>
      <li><a href="#tabs-5">Existing Maps</a></li>
    </ul>
    <div id="tabs-1">
      <div id="drop_zone">Drop files here
        <p style="font-size:12px;"><label id="lbl-drop-json">*.json</label>&nbsp;&nbsp;or &nbsp;&nbsp;
        <label  id="lbl-drop-shp">*.shp</label>&nbsp;<label id="lbl-drop-dbf">*.dbf</label>
        &nbsp;<label id="lbl-drop-shx">.shx</label>&nbsp;&nbsp;or &nbsp;&nbsp;
        <label>*.zip</label></p>
      </div>
      <div id="progress_bar"><div class="percent">0%</div></div>
      <table>
      </table>
    </div>
    <div id="tabs-2">
      <form id="cartodb-form">
        <img src="{{url_prefix}}/media/img/cartodb.png">
        <table>
          <tr>
            <td>CartoDB user id</td>
            <td>
              <input type="text" id="txt-carto-id" size=55 value="lixun910">
            </td>
          </tr>
          <tr>
            <td>CartoDB app key</td>
            <td>
              <input type="text" id="txt-carto-key" size=55 value="340808e9a453af9680684a65990eb4eb706e9b56">
            </td>
          </tr>
          <tr>
            <td>CartoDB table name</td>
            <td>
              <select id="sel-file-carto-tables"></select>
            </td>
            <td>&nbsp;&nbsp;&nbsp;<img id='btn-file-cartodb-get-all-tables'src="{{url_prefix}}/media/img/find.png"></td>
          </tr>
        </table>
      </form>
    </div>
    <div id="tabs-3">
        <img src="{{url_prefix}}/media/img/socratalogo.png" style="margin:5px"><br/>
        <table>
          <tr>
            <td>Socrata data url:</td>
            <td>
              <input type="text" id="txt-socrata-url" size=55 value="">
            </td>
          </tr>
        </table>
    </div>
    <div id="tabs-4">
      <div id="dropbox_div"></div>
    </div>
    <div id="tabs-5">
        <table>
        {% if geodata %}
          {% for i,layer in geodata.iteritems %}
          <tr>
            <td></td>
            <td><a href='#' onclick="ShowExistMap('{{layer.uuid}}','{{jsonprefix}}{{layer.jsonpath}}')">{{layer.name}}</a></td>
          </tr>
          {% endfor %}
        {% endif %}
        </table>
    </div>
  </div>
  <br/><br/>
  <div id="progress_bar_openfile"><img src="{{url_prefix}}/media/img/progress-bar.gif"></div>
</div>

<!--
///////////////////////////////////////////////////////////////////////////////
// CartoDB
///////////////////////////////////////////////////////////////////////////////
-->
<div id="dialog-cartodb"  title="CartoDB Dialog">
  <span> <br/><img src="{{url_prefix}}/media/img/cartodb.png"><br/></span>
  <div id="tabs-dlg-cartodb">
    <ul>
      <li><a href="#tabs-1">Setup</a></li>
      <li><a href="#tabs-2">Download </a></li>
      <li><a href="#tabs-3">Upload </a></li>
      <li><a href="#tabs-4">Spatial Count</a></li>
      <li><a href="#tabs-5">Create Theme Map </a></li>
    </ul>
    <div id="tabs-1">
      <form id="cartodb-setup-form">
        <table>
          <tr>
            <td>CartoDB user id</td>
            <td>
              <input type="text" id="txt-carto-setup-id" size=55 value="lixun910">
            </td>
          </tr>
          <tr>
            <td>CartoDB app key</td>
            <td>
              <input type="text" id="txt-carto-setup-key" size=55 value="340808e9a453af9680684a65990eb4eb706e9b56">
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div id="tabs-2">
      <br><img src="{{url_prefix}}/media/img/carto_download.png"><br><br>
      <form id="cartodb-download-form">
        <table>
          <tr>
            <td>Select a table to download&nbsp;&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td>
              <select id="sel-carto-table-download">
              </select>
            </td>
            <td>&nbsp;&nbsp;&nbsp;<img id='btn-cartodb-get-all-tables'src="{{url_prefix}}/media/img/find.png"></td>
          </tr>
        </table>
      </form>
    </div>
    <div id="tabs-3">
      <br><img src="{{url_prefix}}/media/img/carto_upload.png"><br><br>
      <form id="cartodb-upload-form">
        <table>
          <tr>
            <td>Select a map to upload&nbsp;&nbsp;&nbsp;</td>
            <td>
              <select id="sel-carto-table-upload">
              </select>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div id="tabs-4">
      <p style="text-align: left">Example of Spatial Contains:</p>
      <br><img src="{{url_prefix}}/media/img/pnp.png"><br><br>
      
      <form id="cartodb-spatial-count-pform">
        <table>
          <tr>
            <td>1.Select the first layer:</td>
            <td>
              <select id="sel-carto-table-count1"></select>
            </td>
          </tr>
          <tr>
            <td>2.Select the second layer:</td>
            <td>
              <select id="sel-carto-table-count2"></select>
            </td>
          </tr>
          <tr>
            <td>3.Select method:</td>
            <td>
              first layer
              <select id="sel-cartodb-count-method">
              <option value="contain" selected>contain</option>
              <option value="intersect">intersect with</option>
              </select>
            second layer.</td>
          </tr>
          <tr>
            <td>4.Input the new column </td>
            <td>name for storing the counts in first layer:</td>
          </tr>
          <tr>
            <td></td>
            <td valign="top">
              <input type="text" id="txt-carto-col-name" size=35 value="">
            </td>
          </tr>
          <tr>
            <td></td>
            <td valign="top">
              <input type="checkbox" id="chk-carto-update-data" checked>Update data (first layer) with new count column
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <br/><br/>
  <div id="progress_bar_cartodb"><img src="{{url_prefix}}/media/img/progress-bar.gif"></div>
</div>

<!--
///////////////////////////////////////////////////////////////////////////////
// Road Network
///////////////////////////////////////////////////////////////////////////////
-->
<div id="dialog-road"  title="Road Network Dialog">
  <span> <br/><img src="{{url_prefix}}/media/img/network.png"><br/><br/></span>
  <div id="tabs-dlg-road">
    <ul>
      <li><a href="#tabs-1">Road Segmentation</a></li>
      <li><a href="#tabs-2">Snapping Points to Roads</a></li>
      <li><a href="#tabs-3">Create Weights for Roads</a></li>
    </ul>
    <div id="tabs-1">
      <form id="form-road-segement">
        <table>
          <tr>
            <td>Select a road layer</td>
            <td>
              <select id="sel-road-seg">
              </select>
            </td>
          </tr>
          <tr>
            <td>Input a maximum length of segemented road (ft)</td>
            <td>
              <input type="text" id="txt-seg-road-length" size=25 value="1000">
            </td>
          </tr>
          <tr>
            <td>Input a file name for saving the segemented roads</td>
            <td>
              <input type="text" id="txt-seg-road-name" size=25 value="">
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div id="tabs-2">
      <form id="form-snap-points-to-roads">
        <table>
          <tr>
            <td>Select a point layer</td>
            <td>
              <select id="sel-road-snap-point-layer">
              </select>
            </td>
          </tr>
          <tr>
            <td>Select a road layer</td>
            <td>
              <select id="sel-road-snap-road-layer">
              </select>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div id="tabs-3">
      <form id="form-create-road-w">
        <table>
          <tr>
            <td>Select a road layer</td>
            <td>
              <select id="sel-road-w-layer">
              </select>
            </td>
          </tr>
          <tr>
            <td>Select a weights type</td>
            <td>
              <select id="sel-road-cont-type">
                <option value="0" selected>Queen</option>
                <option value="1">KNN</option>
              </select>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <br/>  <br/>
  <div id="progress_bar_road"><img src="{{url_prefix}}/media/img/progress-bar.gif"></div>
</div>


<!--
///////////////////////////////////////////////////////////////////////////////
// SpaceTime
///////////////////////////////////////////////////////////////////////////////
-->
<div id="dialog-spacetime"  title="Space Time Aggregation">
  <table><tr><td><img src="{{url_prefix}}/media/img/st.png"></td>
  <td>Aggregate points in time and space and apply spatial analysis.</td>
  </tr>
  </table>
  <br>
  <h1 class="ui-widget-header">Time</h1>
  <table>
    <tr><td height="30">Field:</td>
      <td><select><option>Date</option></select>&nbsp;&nbsp;
      <select><option>Time</option></select></td></tr>
    <tr><td height="30">Time of Day&nbsp;&nbsp;&nbsp;</td>
      <td><select><option>00:00-23:59</option></select></td>
      <td><button>+</button> <button>-</button></td></tr>
    </tr>
    <tr><td height="30">Step By</td>
      <td><input type="text" value=1 size=4><select><option>Day</option><option>Week</option></select></td>
    </tr>
    <tr><td height="30">Interval</td>
      <td>Start&nbsp;<input type="text" id="datepicker-start"><td>
    </tr>
    <tr><td height="30"></td><td>End&nbsp;&nbsp;&nbsp;<input type="text" id="datepicker-end"></td>
    </tr>
  </table>
  <h1 class="ui-widget-header">Space</h1>
  <p style="text-align: left">
  Select a layer that used as space for aggregate querying:
            <select id="sel-spacetime-space">
              <option value="" selected></option>
              <option value=""></option>
            </select>
  </p>
  <br/>
  <br/>
  <h1 class="ui-widget-header">Operations</h1>
  <p style="text-align: left">
  Select a operation that will apply on aggregated data
  </p>
  
  <div id="tabs-dlg-spacetime">
    <ul>
      <li><a href="#tabs-1">Thematic Map</a></li>
      <li><a href="#tabs-2">LISA</a></li>
      <li><a href="#tabs-3">Density Map</a></li>
    </ul>
    <div id="tabs-1">
    
      <table>
      <tr>
        <td><label for="name">Select quantification method:</label></td>
        <td><select id="sel-quan-method">
          <option value="quantile">Quantile</option>
          <option value="natural breaks">Natural Breaks</option>
          <option value="equal interval">Equal Interval</option>
          <option value="fisher jenks">Fisher Jenks</option>
        </td>
      </tr>
      </table>
    </div>
    <div id="tabs-2">
      <table>
      <tr>
        <td width="200"><label for="name">Select a variable:</label></td>
        <td><select id="sel-st-lisa-var"></td>
      </tr>
      <tr>
        <td width="200"><label for="name">Select weights:</label></td>
        <td><select id="sel-st-lisa-w"></td>
      </tr>
     </table> 
    </div>
    <div id="tabs-3">
    </div>
  </div>
  <br/>  <br/>
  <div id="progress_bar_spacetime"><img src="{{url_prefix}}/media/img/progress-bar.gif"></div>
</div>
<!--
///////////////////////////////////////////////////////////////////////////////
//  LISA Map
///////////////////////////////////////////////////////////////////////////////
-->
<div id="dlg-lisa-map" title="Create LISA Map">
<br><br>
  <table>
  <tr>
    <td width="200"><label for="name">Select a variable:</label></td>
    <td><select id="sel-lisa-var"></td>
  </tr>
  <tr>
    <td width="200"><label for="name">Select weights:</label></td>
    <td><select id="sel-lisa-w"></td>
  </tr>
 </table> 
  <br/>  <br/>
  <div id="progress_bar_lisa"><img src="{{url_prefix}}/media/img/progress-bar.gif"></div>
</div>

<!--
///////////////////////////////////////////////////////////////////////////////
// Moran Scatter Plot
///////////////////////////////////////////////////////////////////////////////
-->
<div id="dlg-moran-scatter-plot" title="Open Moran Scatter Plot">
<br><br>
  <table>
  <tr>
    <td width="200"><label for="name">Select a variable:</label></td>
    <td><select id="sel-moran-var"></td>
  </tr>
  <tr>
    <td width="200"><label for="name">Select weights:</label></td>
    <td><select id="sel-moran-w"></td>
  </tr>
 </table> 
</div>

<!--
///////////////////////////////////////////////////////////////////////////////
// Scatter Plot
///////////////////////////////////////////////////////////////////////////////
-->
<div id="dlg-scatter-plot" title="Open Scatter Plot">
<br><br>
  <table>
  <tr>
    <td width="200"><label for="name">Select X variable:</label></td>
    <td><label for="name">Select Y variable:</label></td>
  </tr>
  <tr>
    <td><select id="sel-scatter-x"></td>
    <td><select id="sel-scatter-y"></td>
  </tr>
 </table> 
</div>

<!--
///////////////////////////////////////////////////////////////////////////////
// Choroplet Map
///////////////////////////////////////////////////////////////////////////////
-->
<div id="dlg-quantile-map" title="Open Choropleth Map">
  <br/><br/>
  <table>
  <tr>
    <td><label for="name">Select quantification method:</label></td>
    <td><select id="sel-quan-method">
      <option value="quantile">Quantile</option>
      <option value="natural breaks">Natural Breaks</option>
      <option value="equal interval">Equal Interval</option>
      <option value="fisher jenks">Fisher Jenks</option>
    </td>
  </tr>
  <tr>
    <td><label for="name">Select a variable:</label></td>
    <td><select id="sel-var"></td>
  </tr>
  <tr>
    <td><label for="name">Input category number:</label></td>
    <td><input type="text" id="quan-cate" class="text ui-widget-content ui-corner-all" value="5"></td>
  </tr>
 </table> 
</div>

<!--
///////////////////////////////////////////////////////////////////////////////
// Weights Creation
///////////////////////////////////////////////////////////////////////////////
-->
<div id="dialog-weights"  title="Weights Creation Dialog">
  <style>
    </style>
  <table>
    <tr>
      <td><li>Please input a Weights name</li></td>
      <td><input type="text" id="txt-w-name"></td>
    </tr>
    <tr>
      <td><li>Select an ID variable for weights file:</li></td>
      <td valign="center">
      <select id='sel-w-id'></select>
      <img id="img-id-chk" src="{{url_prefix}}/media/img/checkmark.png">
      <img id="img-id-nochk" src="{{url_prefix}}/media/img/uncheckmark.gif">
      <img id="img-id-spin" src="{{url_prefix}}/media/img/loading_small.gif">
      </td>
    </tr>
  </table>
  <br/>
  <br/>
  <div id="tabs-dlg-weights">
    <ul>
      <li><a href="#tabs-1">Contiguity</a></li>
      <li><a href="#tabs-2">Distance</a></li>
      <li><a href="#tabs-3">Adaptive Kernel</a></li>
    </ul>
    <div id="tabs-1">
      <form id="cont-form">
        <table>
          <tr>
            <td>Contiguity Type</td>
            <td>
              <select id="sel-cont-type">
                <option value="0" selected>Rook</option>
                <option value="1">Queen</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Order of Contiguity</td>
            <td><input id="spn-cont-order" value=1></td>
          </tr>
          <tr>
            <td>Include Lower Orders</td>
            <td><input type="checkbox" id="cbx-cont-ilo"></td>
          </tr>
        </table>
      </form>
    </div>
    <div id="tabs-2">
      <table>
        <tr>
          <td>Select Distance Metric</td>
          <td>
            <select id="sel-dist-metr">
              <option value="0" selected>Euclidean Distance</option>
              <option value="1">Arc Distance (miles)</option>
              <option value="2">Arc Distance (kilometers)</option>
            </select>
          </td>
        </tr>
        <tr height="22px">
          <td><input type="radio" name="rdo-dist" id=0> k-Nearest Neighbors</td>
          <td># of neighbors <input id="spn-dist-knn" value="1"></td>
        </tr>
        <tr>
          <td><input type="radio" name="rdo-dist" id=1>Binary Distane Band</td>
          <td>
            <input type="text" id="txt-dist-thr" value="0.0" style="float:left;margin-right:100px;width:100px">
            <div id="dist-slider" style="margin: 5px 0 0 120px;"></div>
          </td>
        </tr>
        <tr>
          <td><input type="radio" name="rdo-dist" id=2>Power of Inverse Distance</td>
          <td><input id="spn-pow-idst" value="1"></td>
        </tr>
      </table>
    </div>
    <div id="tabs-3">
      <table>
        <tr>
          <td>Select Kernel Function Type</td>
          <td>
              <select id="sel-kel-type">
              <option value="0" selected>Uniform</option>
              <option value="1">Triangular</option>
              <option value="2">Quadratic</option>
              <option value="3">Quartic</option>
              <option value="4">Gaussian</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>Numbe of Neighbors</td>
          <td><input type="text" id="txt-kel-nn" value="1"></td>
        </tr>
      </table>
    </div>
  </div>
  <br/><br/><br/>
  <table>
    <tr>
      <td><li>Select to download a Weights file</li></td>
      <td><select id='sel-w-type'>
          <option value="gal" selected>GAL</option>
          <option value="gwt">GWT</option>
          <option value="kwt">KWT</option>
        </select>
      </td>
      <td><select id='sel-w-files'></select></td>
    </tr>
  </table>
  <div class="dlg-loading"></div>
</div> 

<!--
///////////////////////////////////////////////////////////////////////////////
// Spatial Regression
///////////////////////////////////////////////////////////////////////////////
-->

<div id="dialog-regression" title="Spatial Regression Dialog"> 
  <p style="text-align: left">
  <button id="btn_open_model">Open Model</button>
  <button id="btn_save_model">Save Model</button>
  <button id="btn_reset_model">Reset Model</button>
  <button id="btn_preference">Preference</button>
  <button id="btn_run">Run</button>
  <button id="btn_result">Show Result</button>
  </p>
  <table>
    <tr><td></td></tr>
    <tr>
      <td valign="top">
        <div id="model_spec">
          <h1 class="ui-widget-header">Model Specifications</h1>
          <p>Drag and drop variables from the Variables Panel.<br>Double click variable to remove it.</p>
          <div id="y_catalog">
            <h2><a href="#">Y (Required) </a></h2>
            <div class="drop_box" id="y_box">
              <ol>
                <li class="placeholder">Add your items here</li>
              </ol>
            </div>
            <h2><a href="#">YE </a></h2>
            <div class="drop_box" id="ye_box">
              <ol>
                <li class="placeholder">Add your items here</li>
              </ol>
            </div>
            <h2><a href="#">Instruments</a></h2>
            <div class="drop_box" id="inst_box">
              <ol>
                <li class="placeholder">Add your items here</li>
              </ol>
            </div>
            <h2><a href="#">R</a></h2>
            <div class="drop_box" id="r_box">
              <ol>
                <li class="placeholder">Add your items here</li>
              </ol>
            </div>
            <!--
            <h2><a href="#">T</a></h2>
            <div class="drop_box" id="t_box">
              <ol>
                <li class="placeholder">Add your items here</li>
              </ol>
            </div>
            -->
          </div>
          <div id="x_catalog">
            <h2><a href="#">X (Required) </a></h2>
            <div class="drop_box" id="x_box">
              <ol>
                <li class="placeholder">Add your items here</li>
              </ol>
            </div>
          </div>
        </div>
        <div id="estimation">
          <h1 class="ui-widget-header">Estimation</h1>
          <div class="est_tab">
            <p>Model Type</p>
            <input type="radio" name="model_type" value="0" checked>Standard<br>
            <input type="radio" name="model_type" value="1">Spatial Lag<br>
            <input type="radio" name="model_type" value="2">Spatial Error<br>
            <input type="radio" name="model_type" value="3">Spatial Lag+Error<br>
          </div>
          <div class="est_tab">
            <p>Method</p>
            <input id="ols" type="radio" name="method" value=0 checked>OLS<br>
            <input id="gmm" type="radio" name="method" value=1>GMM<br>
            <input id="ml" type="radio" name="method" value=2>ML<br>
          </div>
          <div class="est_tab">
            <p>Standard Errors</p>
            <input id="white" type="checkbox" name="stderror" value="white">White<br>
            <input id="hac" type="checkbox" name="stderror" value="hac">HAC<br>
            <input id="het" type="checkbox" name="stderror" value="kphet">KP HET<br>
          </div>
        </div>
        <div id="weights">
          <h1 class="ui-widget-header">Weights</h1>
          <table width=100%><tr><td>
          <button id="btn_create_w">Create Weights</button> 
          </td></tr><tr><td>
          <div id="w_catalog_model">
            <h2><a href="#">Model Weights (Optional) </a></h2>
            <div id="w_model_box">
              <select id="sel-model-w-files" multiple="multiple">
              </select>
            </div>
          </div>
          <div id="w_catalog_kernel">
            <h2><a href="#">Kernel Weights (Optional) </a></h2>
            <div id="w_kernel_box">
              <select id="sel-kernel-w-files" multiple="multiple">
              </select>
            </div>
          </div>
          </td></tr></table>
        </div>
      </td>
      <td valign="top">
        <div id="var_list">
          <h1 class="ui-widget-header">Variables</h1>
          <div class="ui-widget-content" id="vars">
            <input class="search" placeholder="Search" />
            <button class="sort" data-sort="name">
            Sort
            </button>
            <ul id="ul-x-variables" class="list">
              <li><p class="name">x1</p></li>
            </ul>
          </div>
        </div>

  </td>
</tr>
</table> 
</div>
<div id="dialog-spreg-result" title="Spatial Regression Result">
  <div id="spreg-result-tabs">
    <ul>
      <li><a href="#tabs-1">Report</a></li>
      <li><a href="#tabs-2">Predicted Values and Residuals</a></li>
    </ul>
    <div id="tabs-1" style="height:100%">
      <pre id="txt-spreg-summary" style="text-align:left; font-size: 12px; white-space:pre-wrap;width: 100%; padding: 10px; border: none; height: 100%; margin: -10px; border: 1px solid #ccc;"> </pre>
    </div>
    <div id="tabs-2" style="height:100%">
      <button id="btn-save-predy">Save values to datasource</button>
      <a href="#" id="btn-export-predy">Export to CSV</a>
      <div id="txt-spreg-predy" > </div>
    </div>
  </div>
</div>

<div id="dialog-preference" title="Preference">
  <form id="form-pref">
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Std Dev</a></li>
      <li><a href="#tabs-2">GMM</a></li>
      <li><a href="#tabs-3">ML</a></li>
      <li><a href="#tabs-4">Instruments</a></li>
      <li><a href="#tabs-5">Output</a></li>
      <li><a href="#tabs-6">Regimes</a></li>
      <li><a href="#tabs-7">Other</a></li>
    </ul>
    <div id="tabs-1">
      <p><b>Compute Standard Deviation with N or N-K</b></p>
      <table>
        <tr><td></td><td width="40">N-K</td><td width="40">N</td></tr>
        <tr><td>OLS</td><td><input type="radio" name="sig2n_k_ols" value=0 checked></td><td><input type="radio" name="sig2n_k_ols" value=1></td></tr>
        <tr><td>2SLS</td><td><input type="radio" name="sig2n_k_2sls" value=0></td><td><input type="radio" name="sig2n_k_2sls" value=1 checked></td></tr>
        <tr><td>GM-Lag</td><td><input type="radio" name="sig2n_k_gmlag" value=0></td><td><input type="radio" name="sig2n_k_gmlag" value=1 checked></td></tr>
        <tr><td>All Other Models</td><td><input type="radio" name="sig2n_k_other" value=0></td><td><input type="radio" name="sig2n_k_other" value=1 checked></td></tr>
      </table>
    </div>
    <div id="tabs-2">
      <table>
        <tr><th>Improved Efficiency</th></tr>
        <tr>
          <td>Maximum Iteration</td>
          <td><input id="spinner" name="gmm_max_iter" value=1></td>
        </tr>
        <tr>
          <td>Stopping Criterion<br>(change in Lambda)</td>
          <td><input id="spinner" name="gmm_epsilon" value="0.00001"></td>
        </tr>
        <tr><th><b>Spatial Error Model</b></th><th></th></tr>
        <tr>
          <td>Inference on Lambda</td>
          <td><input type="checkbox" name="gmm_inferenceOnLambda" checked></td>
        </tr>
        <tr><th><b>Heteroskedasticity</b></th><th></th></tr>
        <tr>
          <td>Computation of Inverse</td>
          <td>
            <select name="gmm_inv_method">
              <option value="Power Expansion" selected>Power Expansion</option>
              <option value="True Inverse">True Inverse</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Step 1c from Arraiz et al (2010)</td>
          <td><input type="checkbox" name="gmm_step1c"></td>
        </tr>
      </table>
    </div>
    <div id="tabs-3">
      <table>
        <tr><th>Diagnostics</th></tr>
        <tr>
          <td>ML Diagnostics</td>
          <td><input type="checkbox" name="ml_diagnostics"></td>
        </tr>
        <tr><th>Methods</th><th></th></tr>
        <tr>
          <td>ML Method</td>
          <td>
            <select name="ml_method">
              <option value="Full">Full</option>
              <option value="Ord">Ord</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Tolerance Criterion</td>
          <td><input type="text" name="ml_epsilon" value="0.00001"></td>
        </tr>
      </table>
    </div>
    <div id="tabs-4">
      <table>
        <tr>
          <td>Order of Spatial Lags for Instruments</td>
          <td><input id="spinner" name="instruments_w_lags" value="1"></td>
        </tr>
        <tr>
          <td>Include Lags of User-Specified Instruments</td>
          <td><input type="checkbox" name="instruments_lag_q" checked></td>
        </tr>
      </table>
    </div>
    <div id="tabs-5">
      <table>
        <tr>
          <td>Show Variance-Covariance Matrix</td>
          <td><input type="checkbox" name="output_vm_summary"></td>
        </tr>
        <tr>
          <td>Save Predicted Values and Residuals</td>
          <td><input type="checkbox" name="output_save_pred_residuals"></td>
        </tr>
        <tr>
          <td>Save Detailed Model Specification</td>
          <td><input type="checkbox" name="output_show_detailed_spec"></td>
        </tr>
      </table>
    </div>
    <div id="tabs-6">
      <table>
        <tr>
          <td>Error by Regimes</td>
          <td><input type="checkbox" name="regimes_regime_error" checked></td>
        </tr>
        <tr>
          <td>Spatial Lag by Regimes</td>
          <td><input type="checkbox" name="regimes_regime_lag"></td>
        </tr>
      </table>
    </div>
    <div id="tabs-7">
      <table>
        <tr><th>Diagnostics</th></tr>
        <tr>
          <td>OLS Diagnostics</td>
          <td><input type="checkbox" name="other_ols_diagnostics" checked></td>
        </tr>
        <tr>
          <td>White Test (OLS only)</td>
          <td><input type="checkbox" name="white_teste"></td>
        </tr>
        <tr>
          <td>Moran's I of the Residuals</td>
          <td><input type="checkbox" name="other_residualMoran"></td>
        </tr>
        <tr><th><b>Data</b></th><th></th></tr>
        <tr>
          <td>Replace Missing Values With</td>
          <td><input type="text" name="other_missingValue" value=""></td>
        </tr>
      </table>
    </div>
  </div>
  </form>
</div>

<div id="dlg-add-uniqid" title="Add Unique ID">
    <label for="name">Input an unique ID name:</label>
    <input type="text" id="uniqid_name" class="text ui-widget-content ui-corner-all">
</div>

<div id="dlg-save-model" title="Save Spreg Model">
    <label for="name">Input a model name:</label>
    <input type="text" id="model_name" class="text ui-widget-content ui-corner-all">
</div>

<div id="dlg-open-model" title="Open Spreg Model">
    <label for="name">Select a spreg model:</label>
    <select id="open_spreg_model">
    </select>
</div>
<!--
///////////////////////////////////////////////////////////////////////////////
// Other Dialogs
///////////////////////////////////////////////////////////////////////////////
-->
<div id="dlg-msg" title="Message">
  <div class="text-align:left;">
    <p class="font-weight:bold;" id="msg-title"></p>
    <p id="msg-content" class="text-align:left;"></p>
  </div>
</div>

<div id="divPop" class="bubble">This is Popup Div.</div>
<div id="mapInfo">
  <div class="switch-wrapper" id="divSwitchLeaflet"><input type="checkbox" id="switch" value="1" checked></div>
  <div class="switch-wrapper" id="divCartoBrush"><input type="checkbox" id="switch-cartodb-brushlink" value="1" checked></div>
  <div id="divDownload" style="margin-top:5px;">
  <span>Downloading data ...</span><br/>
  <span><img src="{{url_prefix}}/media/img/progress-bar.gif"></span>
  </div>
</div>
</body>
</html>
