*.swp
*.swo
*.dbf
*.shp

*.shx

*.json

*.pyc
*.wpr
*.wpu
*.prj
wingide.wpr

*.zip

*.cpg
myproject/settings.py
*.wpu
wingide.wpu

*.gwt

*.kwt

*.gal

*.csv

myproject/media/temp/92c0118e474391a23d4a673a5b1d6039/HWVED3/phx/phx.html
*.db

*.log
