html, body {
  width: 100%;
  height: 100%;
}
div {
  display: block;
}
#header {
  height: 80px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
#header .container {
  width: 90%;
  height: 90px;
  margin: 0 auto;
  text-align: left;
}
#header .logo {
  width: 480px;
}
body {
  text-align: center;
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
border: 1px solid #aaa;margin: 1px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.bubble {
  z-index: 10000;
  position: absolute;
  background-color: orange;
  opacity: 0.8;
  margin: 0;
  padding:10px;
  text-align:center;
  width:180px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25); 
}
.info-div {
  z-index: 10000;
  position: fixed;
  background-color: #CCC;
  margin: 0;
  right: 0px;
  top: 70px;
  padding:10px;
  text-align:center;
  width:250px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25); 
}
#dragdrop_div {
  width: 60%;
  padding: 10px;
}
#drop_zone {
  position: relative;
  z-index: 9999;
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
  width: 370px;
}
#dropbox_div {
  width: 250px; 
  height: 80px;
  margin-top: 10px;
  padding-top: 30px;
  vertical-align: middle;
}
#progress_bar {
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}
#progress_bar.loading {
  opacity: 1.0;
}
#progress_bar .percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
}
.check_file {
  background-image: url("../img/checkmark.png");
  background-repeat:no-repeat;
  background-position:right; 
}
.uncheck_file {
  color: red;
  font-weight: bold;
}
.awesome-bar {
  display: block;
  position: fixed;
  width: 100%;
  height: 48px;
  z-index: 9999;
  opacity: 0.9;
  -moz-box-shadow: 0 14px 18px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 14px 18px rgba(0,0,0,0.5);
  box-shadow: 0 14px 18px rgba(0,0,0,0.5);
}
.ui-dialog {
 z-index: 10003 !important;
}
.tool-menu {
  background-image: url("../img/menu-bg2.png");
  position: absolute; width: 100%; 
  height: 140px; opacity: 0.9;
  background-color: white;padding-bottom: 13px;
  -webkit-box-shadow: -1px -7px 35px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px -7px 35px -1px rgba(0,0,0,0.5);
  box-shadow: -1px -7px 35px -1px rgba(0,0,0,0.5);
  z-index:10002;
  left: 0;
}
.down-arrow{
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 8px solid transparent; /*arrorw size*/
  z-index:10004;
}
#tool-menu-arrow{
  border-top-color: #EEE;
  position: absolute;
  bottom: 26px;
  left: 275px;
}
#dialog-arrow{
  border-top-color: #EEE;
  position: absolute;
  bottom: 178px;
  left: 275px;
}
.tool-menu .image-wrap {
  float: left;
  width: 92px;
  height: 82px;
  margin:38px 20px 0 30px;
  -webkit-border-radius: 60em;
  -moz-border-radius: 60em;
  border-radius: 60em;
  -moz-box-shadow: 0 14px 18px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 14px 18px rgba(0,0,0,0.5);
  box-shadow: 0 14px 18px rgba(0,0,0,0.5);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center; 
}
.tool-menu .image-wrap:hover {
  opacity: 1.0;
  cursor: pointer;
}
.tool-menu .image-wrap span{
  top: -18px; 
  position: relative;
  text-shadow: 0px 2px 0px rgba(235,235,235,.5); /* 50% white from bottom */
}
#layer-tree { 
  width: 300px; 
  cursor:pointer;
  left: 100;
  bottom: 40;
}
#add-layer { 
  margin: 5px; 
  padding: 0.4em; 
  font-size: 1.0em; 
  height: 18px; 
  width: 92%;
  border-top: 2px dashed #bbb;
  border-left: 2px dashed #bbb;
  border-right: 2px dashed #bbb;
  z-index: 10000;
}
#sortable-layers { list-style-type: none; margin: 0; padding: 0; width: 95%; }
#sortable-layers li:first-child { color: orange}
#sortable-layers li { margin: 0 3px 0px 10px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; text-align: left; background: #eee;}
#sortable-layers li span { position: absolute; margin-left: -1.3em; }
.tree-item-eye {
  width: 30px;
  height: 16px;
  float: right;
  right: 20px;
  margin-top: 2px;
  background-repeat: no-repeat;
  background-image: url("../img/switch-on.png");
}
.tree-item-delete{
  width: 16px;
  height: 16px;
  float: right;
  right: 54px;
  background-repeat: no-repeat;
  background-image: url("../img/uncheckmark.gif");
}
#toolbar {
  width: 100%;
  height: 100%;
  margin-top: 2px;
  margin:0 auto;
}
#logo {
  margin-top: 10px; 
  margin-left: 20px;
}
#account {
  padding-top: 2px; 
}

#btnMultiLayer span {
  color: orange;
}
.blockBtn {
  vertical-align: top;
}
.blockBtn span{
  margin-left: 5px;
}
.toolbar_tbl {
  width: 100%;
  height: 100%;
}
.toolbar_tbl td {
  font-size: 160%;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  color: #EEE;
  vertical-align: middle;
  padding-left: 8px;
  cursor:pointer;
}
.title_link{
  color: #FFFFFF;
  text-decoration: none;
}
.toolbar_tbl td.righttd{
  text-align: right;
  font-size: 1.2em; 
}
#basemap {
  background-repeat: no-repeat;
  background-image: url("../img/basemap.png");
  width: 80px;
  height: 25px;
  margin-top: 13px;
}
#bottombar {
  z-index: 9999;
  opacity: 0.9;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #038D98;
  -webkit-box-shadow: -1px -7px 35px -6px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px -7px 35px -6px rgba(0,0,0,0.5);
  box-shadow: -1px -7px 35px -6px rgba(0,0,0,0.5);
}
.round_div {
  border-radius:5px; 
  border: 1px #bbb solid; 
  padding: 25px;
  width: 50%;
}

#map-container {
  position: relative; 
  border: 0px solid red;
  width: 100%;
  height: -moz-calc(100% - 88px); /* Firefox */
  height: -webkit-calc(100% - 88px); /* Chrome, Safari */
  height: calc(100% - 88px); /* IE9+ and future browsers */
}
#map {
  align:center; margin-top:0px;border: 0px solid red;width: 100%;height:100%;
}
.paint-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.hl-canvas {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: -moz-calc(100% - 88px); /* Firefox */
  height: -webkit-calc(100% - 88px); /* Chrome, Safari */
  height: calc(100% - 88px); /* IE9+ and future browsers */
}

.asu-geoda {
  position: absolute; right: 0; bottom: 40px;
  opacity: 0.2;
}
.novis {
  visibility :hidden;
  margin-left: 10px;
  margin-right: 10px;
}
.novis:hover{
  visibility: visible;
}
.switch-wrapper {
  margin-top: 5px;
}
#foreground {
  position: absolute; top: 0; left: 0;width: 100%; height: 100%;
}
/*Weights Creation*/
.ui-widget-overlay { background: #aaa repeat-x; opacity: .8;}
table { border-spacing: 0;}
th { text-align: left; padding: 10px 0 10px 0; }
td { text-align: left;}
.custom-combobox { position: relative; display: inline-block;}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* support: IE7 */
  *height: 1.7em;
  *top: 0.1em;
}
.custom-combobox-input {
  margin: 0;
  padding: 0.3em;
}
.dlg-loading {
  background: white url('../img/loading_small.gif') center center no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
/*spatial regression*/
.ui-widget-overlay { background: #eee repeat-x; opacity: .8;}
table { 
  border-spacing: 0;
}
th { 
  text-align: left; 
  padding: 10px 0 10px 0; 
}
h1 { 
  padding: .2em; 
  margin: 0; 
  font-size: 13px;
}
ol li:hover {
  background-color: #eee;
}
.list { 
  margin:0; 
  padding:0px 0 0; 
}
.list li {
  display:block; 
  background-color: #ddd; 
  padding:1px; 
  box-shadow: inset 0 1px 0 #fff; 
  height: 20px;  
  cursor: pointer; 
  cursor: hand; 
  vertical-align: bottom;
}
.list li p { 
  margin: 0px; 
  padding: 4px 0px 0px 10px; 
  vertical-align: bottom; 
}
.list li:nth-child(odd) {
  background: #fff;
}
.list li:hover { 
  background-color: orange; 
}
.dialogWithDropShadow{
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);  
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}
#weights { 
  width: 600px; 
  height: 90px; 
  margin-right: 2em; 
  display:block;
}
#weights select {
  width: 90%;
}
#w_catalog_model {
  width: 48%; 
  float: left;
}
#w_catalog_kernel {
  width: 50%; 
  float: right;
}
#model_spec { 
  width: 600px; 
  margin-right: 2em; 
  height:370px; 
  display:block;
}
#y_catalog {
  width: 48%; 
  float: left;
}
#x_catalog {
  width: 50%; 
  float: right;
}
#x_catalog.x_box {
  height: 200px;
}
#var_list { 
  width: 200px; 
}
/* style the list to maximize the droppable hitarea */
.drop_box ol { 
  list-style-type: circle; 
  height: 100px; 
  margin: 0; 
  padding: 1em 0 1em 2em; 
}
#x_box ol {
  height: 215px;
}
#estimation { 
  width: 600px; 
  margin-right: 2em; 
  height:170px; 
  display:block;
}
.est_tab { 
  border: 1px #bbb solid; 
  border-radius:5px; 
  width: 32%; 
  height: 120px; 
  float: left; 
  margin: 15px 1px 0 0; 
  padding-left: 5px;
}
.est_tab p { 
  margin: -5px 0 5px 5px; 
  background-color: white; 
  width: 100px; 
  text-align:center; 
  font-weight: bold;
}
.est_tab input { 
  margin-bottom: 8px;
}
